.unique-selling-area{
    margin-top: 10%;
    flex-direction: column;
}

.join-webinar-area{
    width: 30%;

}

.unique-selling-area-elements{
    flex-direction: column;
    width: 30%;
    margin-top: 5%;
}

.time-duration-area{
    background-color: #000000;
    padding: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-number{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.number-type{
    font-size: 8px;
    font-weight: 500;
}

.join-webinar-area-elements{
    background-color: #ffffff;
    padding: 4% 7% 10% 7%;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.join-webinar-text{
    font-size: 18px;
    font-weight: bold;
}

.join-webinar-text-extended{
    font-weight: 400;
}

.join-webinar-form{
    text-align: center;
    font-size: 10px;
}
.join-webinar-form-input{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    padding: 15px;
}

.register-btn{
    margin-top: 2%;
    padding: 7% 17% 7% 17% !important;
}

.join-webinar-form-checkbox{
    margin-top: 5px;
}

.join-webinar-form-checkbox label{
    font-size: 12px;
}

@media only screen and (max-width: 1000px) {
    .unique-selling-area-elements{
        width: 60%;
    }
}

@media only screen and (max-width: 520px) {
    .unique-selling-area-elements{
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .unique-selling-area-elements{
        width: 90%;
    }
}